h1{
    color: rebeccapurple;
}
p{
    background-color: green;
}
table{
    padding: 0px;
}
tr{
    border: none;
    color: yellow;
}
td{
    background-color: black;
}
select{
    background-color: hotpink;
}
option{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-family: serif;
}
form{
    box-sizing: border-box;
    border-radius: 10px;
}